:root{
    --border-color: #747474;
    --text-color: #d9dc2e;
}

.cardAll{
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 10px;
}

.cardAll span{
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 5px;
    margin-top: 15px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.cardAll img{
    width: 25px;
    height: 25px;
}

/*CSS referente aos cards do cardapio*/
.itemsCard{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid var(--border-color);
    border-radius: 0 0 10px 10px ;
    padding: 10px;
}

.itemsCard ul p{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color);
}

.itemsCard ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px var(--text-color) solid;
}

.itemsCard ul li p{
    text-transform:capitalize;
    font-size: .8rem;
    font-weight: 350;
    color: #000000;
    margin-top: 5px;
}

/*CSS referente ao container de pedidos*/
.pedidosNow{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.pedidosNow h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.pedidosNow ul{
    margin-bottom: 20px;
}

.pedidosNow ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pedidosNow h5{
    margin-bottom: 10px;
}

.pedidosNow button{
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5px;
}

/*CSS referente ao container de conta*/
.verConta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.verConta button{
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

#show-conta{
    padding: 20px;
    border: 4px solid var(--text-color);
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    align-self: center;
    width: 70%;
}

#show-conta ul{
    margin-bottom: 30px;
}

#show-conta ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

#show-conta span{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#show-conta button{
    background-color: transparent;
    padding: 5px;
    text-transform: uppercase;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}



