:root{
    --border-color: #747474;
    --text-color: #797a0a;
    --text-color-destaque: #d6da12;
}

.cardapioTitle{
    text-transform: uppercase;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
}

.cardapioBoasVindas{
    max-width: 60%;
    font-size: .8rem;
    text-align: center;
}


.itemsCard button{
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 5px;
    font-size: 1.3rem;
    margin-top: 15px;
    color: var(--text-color-destaque);
    opacity: 0.8;
    cursor: pointer;
    min-width: 250px;
}

.cardAll img{
    width: 25px;
    height: 25px;
}

/*CSS referente aos cards do cardapio*/
.itemsCard{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid var(--border-color);
    border-radius: 0 0 10px 10px ;
    padding: 0 10px 10px 10px;
}

.itemsCard ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#itensStyle{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#itensStyle p:first-child{
    color: var(--text-color);
    font-size: 1.1rem;
    border-bottom: 1px solid #747474;
}

#itensStyle p:last-child{
    font-size: .7rem;
    font-weight: 700;
    max-width: 10rem;
    word-break: break-word;
}

.itemsCard ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 5px;
}

#valorText{
    font-weight: 700;
    font-size: .8rem;
    border-bottom: 1px solid var(--text-color-destaque);
}

/*CSS referente ao container de pedidos*/
.pedidosNow{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    min-width: 250px;
    padding: 10px;
    margin-top: 10px;
}

.pedidosNow h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1rem;
    border-bottom: 1px solid var(--text-color-destaque);
    color: var(--text-color);
}

.pedidosNow ul{
    margin: 20px 0;
}

.pedidosNow ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}


.pedidosNow #valorText{
    font-size: 1rem;
}

.pedidosNow h5{
    margin-bottom: 10px;
}

.pedidosNow h5 p{
    font-size: 1.5rem;
    font-weight: 700;
}

.pedidosNow button{
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5px;
}

#btn-remove{
    color: #cf2d2d;
}

/*CSS referente ao container de conta*/
.verConta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.verConta button{
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

#show-conta{
    padding: 20px;
    border: 4px solid var(--text-color);
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    align-self: center;
    width: 70%;
}

#show-conta ul{
    margin-bottom: 30px;
}

#show-conta ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

#show-conta span{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#show-conta button{
    background-color: transparent;
    padding: 5px;
    text-transform: uppercase;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}



